body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('background.jpg');
  background-size: 100% 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  width: 50px;
  height: 50px;
  position:absolute;
  transition: all 2s ease 0s;
}

.spinningDancer{
  border-radius: 5px;
  border-color: blue;
}

@-webkit-keyframes morph {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: blue;
  }
}
@-moz-keyframes morph {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: blue;
  }
}
@-o-keyframes morph {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: blue;
  }
}
@keyframes morph {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: blue;
  }
}
.slidingDancer{
  border-color: green;
  border-radius: 0;
  -webkit-animation: morph 5s;
  -moz-animation: morph 5s;
  -o-animation: morph 5s;
  animation: morph 5s;
}

.imageDancer {
  background-image: url("dance1.gif");
  border: none;
  height: 100px;
  width: 70px;
  background-size: 100% 100%;
  position: absolute;
}
.danceHead {
  background-image: url("quagmire.jpg");
  height: 40px;
  width: 40px;
  background-size: 100% 100%;
  position: relative;
  left: 40px;
  -webkit-animation: headBob 2s infinite;
  -moz-animation: headBob 2s infinite;
  -o-animation: headBob 2s infinite;
  animation: headBob 2s infinite;
}
@-webkit-keyframes headBob {
  0% {
    transform: translateX(-1em);
  }
  50% {
    transform: translateX(-0.5em);
    transform: translateY(-1em);
  }
  75% {
    transform: translateX(1em);
  }
  100% {
    transform: translateX(-1em);
  }
}
@-moz-keyframes headBob {
  0% {
    transform: translateX(-1em);
  }
  50% {
    transform: translateX(-0.5em);
    transform: translateY(-1em);
  }
  75% {
    transform: translateX(1em);
  }
  100% {
    transform: translateX(-1em);
  }
}
@-o-keyframes headBob {
  0% {
    transform: translateX(-1em);
  }
  50% {
    transform: translateX(-0.5em);
    transform: translateY(-1em);
  }
  75% {
    transform: translateX(1em);
  }
  100% {
    transform: translateX(-1em);
  }
}
@keyframes headBob {
  0% {
    transform: translateX(-1em);
  }
  50% {
    transform: translateX(-0.5em);
    transform: translateY(-1em);
  }
  75% {
    transform: translateX(1em);
  }
  100% {
    transform: translateX(-1em);
  }
}
.BouncingDancer {

}
.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}



